.card-position {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1% 0 5% 5%;


    @media screen and (max-width:400px) {
       margin: 0; 
     }
}
.card {
    display: flex;
    margin: 0 3.5% 2em 0;
    flex-wrap: wrap;
    max-width: 500px;
    flex: 1 1 calc(950px * 999 - 100% * 999);
    border: solid 1px black;
    background-color: $cd-color-grau-hell;

    &:nth-child(1) {
        border-radius: 0.8em;
    }
    &:nth-child(2) {
        border: 0;

       &.card > * {
            margin: 0em;

             &.card_content {
                margin: 0.8rem 0.3rem 0 0.3rem;
                line-height: 1.2;  
            }

            &.card_image {
               border-bottom: solid 0.6em white;  
            }

            &.card_content::first-letter {
                font-size: 2.7em; 
                letter-spacing: 0.5rem;
                font-family: $cd-font-master; 
                float: left;
                margin: 7px 5px -3px 0;
                line-height: 0.8; 
                color: $cd-color-green-dunkel;      
            }
        } 
    }
    &:nth-child(3) {
        background-color: white;
        border: 0;

        &.card > * {
            margin: 0;

            &.card_content {
                margin-top: 0.8rem;
                line-height: 1.2;  
            }
        }
    }
}
.card > * {
    flex: 1 1 300px;
    margin: 0.6em;
}
.card_image {
    min-height: 250px;
    background-color: $cd-color-green-dunkel;

    &.image_eins {
        border-radius: 0.6em;
    }

}
.card_content {
    padding: 0.2em;

    &.card-border {
        border-bottom: solid 2px $cd-color-green-dunkel;
    }

}
